@charset "UTF-8";

.background {         
      
}

title {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif, sans-serif;
}

body {    
    font-family: cursive, serif, sans-serif;
    margin: 20px;
    height: 660px;
    background-color: rgb(0, 0, 0);    
}

p {
    align-content: center;
}
 
#conteudo {
    display: grid;
    max-height: max-content;
    height: auto;
    max-width: max-content;
    width: auto;
    align-items: center;
    align-content: space-between;
    background-color: rgb(87, 34, 233);
    position: relative;
    top: auto;
    bottom: 500px;
    left: 50px;    
    right: 100px;
    border-color: 100px blueviolet;
    border-radius: 08px;    
    box-shadow: white, 10px;
    padding-left: 20px;    
}

#boneco_superior {    
    position: relative;
    right: 100px;
}

#boneco_inferior {
    position: relative;
    left: 100px;
}

.menu_logo {
    
}

.menu {
    font-family: fantasy, serif, sans-serif;
    font-size: 12pt;
    display: inline-block;
    position: absolute;   
    top: 10px;
    left: 100px;    
}

.menu ul {
    list-style-type: none; 
}

.menu li {
    display: inline-grid;
    float: left;  
    background-color: transparent;
    padding: 2px;
    margin: 2px;
    color: blanchedalmond;
}  