@charset "UTF-8";

html, body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; /* Altura total da janela de visualização */
}

header {
    width: auto;
    height: auto;
    max-width: fit-content;
    min-width: min-content; 
    position: relative;
}

#menuNav {
    display: inline-flex;
    width: auto;
    max-width: max-content;
    min-width: fit-content;
    margin-left: 10px;
    position: relative;
}

/* estilo da lista do menu */
.menu {
    display: inline-flex;
    padding: 10px;
    margin-left: 0;
    list-style: none; /* Remove marcadores da lista */   
}

li#logo {
    justify-content: center;
    margin-top: 17px;
    margin-left: 0;
    margin-right: 60px;
    padding: 20px;
    font-family: 'looney tunes', sans-serif;
    font-size: 2.6em;
    transition: color 0.3s; /* Transições suaves */
}    

li#logo a {    
    color: rgb(255, 255, 234);
    text-decoration: none;
}

#logo span {
    display: inherit;      
}

#logo:hover span {
    transition: color 0.4s ease-in-out;
}

#logoGif {
    display:inline-flex; 
    vertical-align: middle; 
    width:140px; 
    height:150px; 
    justify-content: flex-start; 
    margin-left: 20px;
    transition: 0.5s ease-out;
}

/* estilo dos itens do menu */
li.menu_suspenso {  
    font-family: 'mansalva', sans-serif;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 28px;
    margin-left: 20px;               
}

ul.menu li a {
    color: rgb(255, 255, 234);   
    text-decoration: none; /* remove o sublinhado da target <a> */
    transition: color 0.3s; /* Transições suaves */    
}

ul.menu li a:hover {
    color: #1b73d8; /* Cor de destaque ao passar o mouse */      
}

#conteudo {

}

h1 {
    color: blue;
}
p {
    color: blueviolet;
} 
#boneco_superior {
    vertical-align: middle;
    margin-right: 0;
}

#boneco_inferior {
margin-left: 1050px;
}