@charset "UTF-8";

body {
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    display: flex;
    flex-direction: column;
    align-items: center;
}    

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    box-sizing: border-box;
}

#menuNav {
    display: inline-flex;
    flex-wrap: wrap;    
    position: relative;
    width: auto;
}

/* estilo da lista do menu */
.menu {
    display: flex;
    list-style: none; /* Remove marcadores da lista */
    padding: 50px;
    margin: 0;   
}

#logo {
    display: flex;
    align-items: center;
    font-family: 'looney tunes', sans-serif;
    font-size: 2.2em;
    transition: color 0.3s; /* Transições suaves */
}    

#logo a {    
    color: rgb(255, 255, 234);
    text-decoration: none;
    margin-left: -5%;
}

/* utilizado na função JS Change Colors
#logo span {
    display: inherit;      
} */

/* #logo:hover span {
    transition: color 0.4s ease-in-out;
} 
*/

/* Cria a animação animated, utilizada no efeito de cor na logo */
@keyframes animated {
    to {background-position: 161px;}
}

#logo:hover {
    transform: scale(1.1);
    transition: all 0.5s ease-in-out;
}

#logo a:hover{
    transition: color 0.4s ease-in-out;
    background: linear-gradient(
        to right,
        blue,
        rgb(65, 65, 189),
        violet,
        indigo,
        green, 
        yellow, 
        orange, 
        red, 
        indigo, 
        violet);
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 7s linear infinite;
    transition: ease-in-out;
}

#logoGif {
    display: flex; 
    vertical-align: middle; 
    width:50px; 
    height:50px; 
    justify-content: flex-start; 
    transition: 0.5s ease-in;
}

/* estilo dos itens do menu */
li.menu_suspenso {  
    /* font-family: 'mansalva', sans-serif; */
    font-family: 'comic sans', sans-serif;
    font-size: 1.1em;
    padding-inline: 15px;    
}

ul.menu li a {
    color: rgb(255, 255, 234);   
    text-decoration: none; /* remove o sublinhado da target <a> */
    transition: color 0.3s; /* Transições suaves */    
}

ul.menu li a:hover {  
    transition: 0.3s ease-in-out;
    transition: color 0.4s ease-in-out;
    background: linear-gradient(to right, rgb(30, 30, 220),rgb(20, 20, 250), blue, rgb(20, 200, 250));   
    background-clip: text;
    display: inline;
    color: transparent;
    animation: animated 5s linear infinite;
    transition: ease-in-out;
}

/* Responsividade para telas menores */
@media (max-width: 1024px) {
    header {
        padding: 10px 10px;
    }
}

@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    #logo {
        margin-bottom: 10px;
    }

    .menu {
        flex-direction: column;
        width: 100%;
    }

    li.menu_suspenso {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media (max-width: 480px) {
    header {
        padding: 5px 10px;
    }

    #logo {
        font-size: 1.8em;
    }

    li.menu_suspenso {
        font-size: 1em;
        padding-inline: 10px;
    }
}

@media (max-width: 320px) {
    header {
        padding: 5px;
    }

    #logo {
        font-size: 1.5em;
    }

    .menu {
        align-items: center;
    }

    li.menu_suspenso {
        font-size: 0.9em;
        padding-inline: 5px;
    }
}

main {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    min-height: 80vh; /* Garante que o conteúdo principal tenha altura mínima */
    padding: 20px;
    box-sizing: border-box;
}

#conteudo {
    width: 85%;
    padding: 20px;
    position: relative;
    background-color: rgba(224, 214, 214, 0.05); /* Fundo semitransparente */
    border-radius: 18px;
}

#historia {
    width: 60%;
    padding: 20px;
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(233, 217, 217);
    font-size: 2em;
    font-weight: bolder;
    margin-left: 75px;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    color: rgb(233, 217, 217);
    text-align: justify;
    margin-left: 75px;
} 

/* #boneco_superior {
    filter: blur(0.8px);
    opacity: 0.7;
    position: absolute;
    transform: rotate(-15deg);
    display: flex;
} */

#boneco_superior {
    filter: blur(0.8px);
    opacity: 0.7;
    position: absolute;
    transform: rotate(-15deg);
    display: flex;
    top: 50%; /* Alinha a imagem verticalmente ao centro da tela */
    left: 18px; /* Posiciona a imagem à esquerda da tela */
    transform: translateY(-30%) rotate(-15deg); /* Ajusta a posição para centralizar verticalmente e aplica a rotação */
    cursor: pointer; /* Indica que o elemento é clicável */
}

@keyframes tremble {
    0% { transform: translateY(-50%) rotate(-15deg) translateX(0); }
    25% { transform: translateY(-50%) rotate(-15deg) translateX(-5px); }
    50% { transform: translateY(-50%) rotate(-15deg) translateX(5px); }
    75% { transform: translateY(-50%) rotate(-15deg) translateX(-5px); }
    100% { transform: translateY(-50%) rotate(-15deg) translateX(0); }
}

.trembling {
    animation: tremble 0.5s ease-in-out;
}

/* Aplica o efeito opacidade em todas as outras imagens que não estão em hover */
#imagensSobrepostas:hover > :not(:hover) {
    opacity: 0.05;
}

/* ajusta as imagens na tela */
.imagem-1, 
.imagem-2, 
.imagem-3, 
.imagem-4, 
.imagem-5, 
.imagem-6 {
    width: 200px;
    height: auto;
    margin-bottom: 20px;
    transition: all 0.6s ease-in-out;
    position: absolute;
}

/* Aplica efeito de zoom nas imagens */
.imagem-1:hover, 
.imagem-2:hover, 
.imagem-3:hover, 
.imagem-4:hover, 
.imagem-5:hover, 
.imagem-6:hover {
    transform: scale(2.5);
    transition: all 0.6s ease-in-out;
}


/* Posições diagonais para as imagens utilizando z-index */
.imagem-1 {
    top: 10%;
    left: 65%;
    z-index: 1
}
.imagem-2 {
    top: 20%;
    left: 72%;
    z-index: 2;
}
.imagem-3 {
    top: 33%;
    left: 65%;
    z-index: 3;
}
.imagem-4 {
    top: 50%;
    left: 72.2%;
    z-index: 4;
}
.imagem-5 {
    top: 62%;
    left: 65%;
    z-index: 5;
}
.imagem-6 {
    top: 73%;
    left: 70%;
    z-index: 6;
}

/* Aplica estilo ao figcaption para ficar escondido */
figure figcaption {
    display: none; /* Esconde a legenda por padrão */
    position: absolute; /* Posicionamento absoluto para flexibilidade */
    width: fit-content; /* Largura para ajustar o conteúdo */
    max-width: fit-content;
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    padding: 10px;
    text-align: center; /* Alinhamento à esquerda */
    z-index: 7; /* Garantir que a legenda esteja acima de outros elementos */
    border-radius: 8px;
    font-weight: bolder;
}

/* Posiciona individualmente cada figcaption */
figcaption.foto-1 {
    bottom: 62%;
    left: 60%;
}
figcaption.foto-2 {
    bottom: 52%;
    left: 62%;
}
figcaption.foto-3 {
    bottom: 40%;
    left: 51.5%;
}
figcaption.foto-4 {
    bottom: 28%;
    left: 60%;
}
figcaption.foto-5 {
    top: 84.5%;
    left: 52.5%;
}
figcaption.foto-6 {
    bottom: 0;
    left: 65%;
}
